.container {
  margin: 20px auto;
  padding: 20px;
  width: 490px;
  background-color: #FFFFFF;
  border-radius: 23px;
  font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
  font-size: 10px;
  color: #6D6489;
  transition: all 0.35s ease-out;
}

.title {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 20px;
}

.main {
  display: flex;
}

.main ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stepper {
  margin-right: 20px;
}

.connector {
  height: calc(100% - 52px);
  width: 1px;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px dotted #6272CB;
}
.stepper_thumb_active,
.stepper_thumb_inactive {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
}

.stepper_thumb_inactive {
  border: 1px solid #DBD8E9;
}

.stepper_thumb_active {
  color:#FFFFFF;
  background-color: #8973D2;
}

.provider,
.provider_inactive  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border: 1px solid #DBD8E9;
  border-radius: 17px;
}

.inactive,
.subtitle_inactive {
  opacity: 0.25;
}

.subtitle,
.subtitle_inactive {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 25px;
}

.provider_action {
  flex: 1;
}

.buttons_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  font-size: 12px;
}

.buttons_block a {
  line-height: 32px;
}

.button_main,
.button_second { 
  align-self: center;
  width: 100%;
  height: 32px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.button_main {
  background-color: #8973D2;
  border: none;
  color: #FFFFFF;
}

.button_second {
  background-color: #FFFFFF;
  border: 1px solid #1B4DEB;
  color: #1B4DEB;
}

.button_main:disabled,
.button_second:disabled {
  opacity: 0.25;
}

.status {
  margin-left: 25px;
  margin-bottom: 10px;
}

.text_bold {
  font-weight: 800;
}

.status_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #FAEED1;
  text-align: center;
  border-radius: 17px;
}

.message {
  margin-left: 10px;
}

.message p {
  margin: 0;
  font-size: 12px;
}

.link {
  display: block;
  text-align: end;
  margin-top: 10px;
}

.link span {
  text-decoration: underline;
}
